.hero {
    height: 692px;
    position: relative;
    padding-top: 55px;
    .hero__content {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #F5F5F7;
        text-align: center;
        h2 {
            font-size: 51px;
            line-height: 60px;
            font-weight: 600;
        }
        p {
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            margin-bottom: 31px;
        }
    }
}